body {
  background-color: #434A42;
  color: #EEC584;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

#photo {
  background-color: #EEC584;
  border: 3px solid black;
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 30vw;
  height: 20vw;
}
/* 
.container h1 {
  
} */

.footer {
  width: 100%;
  background-color: #EEC584;
  color: #434A42;
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background-color: #EEC584;
  color:#434A42;
  margin: 10px;
}

  /* position: absolute;
  bottom: 0; */

  .bird {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    display: block;
    width: 33vw;
  }

a {
  color: #434A42;
}

h1 {
  font-family: Caveat;
  font-size: xxx-large;
}

#overview {
  text-align: center;
}